<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head::head"></head>
    <body>
        <nav th:replace="fragments/nav::nav-huesped"></nav>
        <section class="uk-section uk-section-muted uk-padding-remove-top">
            <div class="uk-container uk-position-medium uk-margin-remove" uk-grid>
                <div class="uk-width-1-4 uk-background-secondary uk-light uk-height-viewport" uk-sticky>
                    <h3 class="uk-heading-small uk-margin-medium-top uk-width-1-1">Filtros</h3>
                    <div class="uk-margin">
                        <label class="uk-form-label">Distancia:</label>
                        <input class="uk-range" type="range" value="2" min="0" max="10" step="0.1">
                    </div>
                    <div class="uk-margin">
                        <div uk-form-custom="target: > * > span:first-child">
                            <select>
                                <option value="">Ordenar por...</option>
                                <option value="1">Distancia</option>
                                <option value="2">Precio</option>
                                <option value="3">Puntuacion</option>
                            </select>
                            <button class="uk-button uk-button-default" type="button" tabindex="-1">
                                <span></span>
                                <span uk-icon="icon: chevron-down"></span>
                            </button>
                        </div>
                    </div>
                    <fieldset class="uk-fieldset">
                        <legend class="uk-legend">Tipo de experiencia:</legend>
                        <th:block th:each="tipo : ${tipos}">
                            <div class="pretty p-switch p-slim uk-width-1-1">
                                <input type="checkbox" name="${tipo.id}" />
                                <div class="state p-success">
                                    <label th:text="${tipo.nombre}"></label>
                                </div>
                            </div>
                        </th:block>
                    </fieldset>
                </div>
                <div class="uk-width-3-4" uk-grid>
                    <h1 class="uk-text-center uk-heading-medium uk-width-1-1">Experiencias</h1>
                    <th:block th:each="experiencia : ${experiencias}">
                        <div class="uk-card uk-card-default uk-width-1-3">
                            <div class="uk-card-media-top">
                                <img th:src="@{/image/experiencias/1/Museo-de-cera-3.jpg}" alt="">
                            </div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title" th:text="${experiencia.nombre}"></h3>
                                <p class="uk-text-truncate" th:text="${experiencia.descripcion}"></p>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </section>
        <footer th:replace="fragments/footer::footer"></footer>
    </body>
</html>

