<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head::head"></head>
    <body>
        <nav th:replace="fragments/nav::nav-huesped"></nav>
        <th:block th:each="tipo : ${tipos}">
            <div class="pretty p-switch p-slim">
                <input type="checkbox" name="${tipo.id}" />
                <div class="state p-success">
                    <label th:text="${tipo.nombre}"></label>
                </div>
            </div>
        </th:block>
        <div class="uk-position-bottom">
            <footer th:replace="fragments/footer::footer"></footer>
        </div>
    </body>
</html>

