<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cómo aumentar la fidelización del huésped en su estancia. Aumenta el LTV de su hotel. Aumenta el gasto medio del huésped en el hotel" />
    <title th:text="${titulo}"></title>

    <!-- Fav icon -->
    <link rel="icon" th:href="@{/icons/favicon.png}" type="image/png" sizes="32x32">

    <!-- Fuente-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <!-- UIkit CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/uikit-rtl.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/uikit.min.css}"/>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <!-- UIkit JS -->
    <script th:src="@{/js/uikit.min.js}"></script>
    <script th:src="@{/js/uikit-icons.min.js}"></script>
</head>