<header th:fragment="header" id="inicio">
    <nav th:replace="fragments/nav::nav-index"></nav>
    <div class="uk-height-large uk-background-cover uk-flex img-header" uk-parallax="bgy: -200">
        <div class="uk-width-1-2 uk-text-center uk-margin-auto uk-margin-auto-vertical">
            <div class="uk-light">
                <h1 class="uk-heading-medium uk-text-bold">Una aplicación,<br/>infinitas posibilidades</h1>
                <h2>Conoce los gustos de tus huéspedes y hazle vivir una experiencia única!</h2>
            </div>
            <a href="#servicios" class="uk-button uk-button-primary uk-button-large" uk-scroll>Saber más...</a>
        </div>
    </div>
</header>