<nav th:fragment="nav" class="uk-navbar-container uk-background-muted" uk-navbar uk-sticky="cls-active: uk-navbar-sticky">
    <div class="uk-navbar-left">
        <a class="uk-navbar-item uk-logo logo" href="#inicio" uk-scroll>DiscoverMe</a>
    </div>
    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li><a href="#servicios" uk-scroll>Servicios</a></li>
            <li><a href="#datos" uk-scroll>Datos</a></li>
            <li><a href="#demo" uk-scroll>Demo</a></li>
            <li><a href="#contacto" uk-scroll>Contacto</a></li>
        </ul>
    </div>
</nav>