<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/head::head"></head>
    <body>
        <nav th:replace="fragments/nav::nav-recepcionista"></nav>
        <h1>RECEPCIONISTA</h1>
        <p th:text="${#session.getAttribute('usuario').id}"></p>
        <p th:text="${#session.getAttribute('usuario').nombre}"></p>
        <p th:text="${#session.getAttribute('usuario').password}"></p>
        <p th:text="${#session.getAttribute('usuario').rol.nombre}"></p>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Cerrar Sesion"/>
        </form>
        <div class="uk-position-bottom">
            <footer th:replace="fragments/footer::footer"></footer>
        </div>
    </body>
</html>
